<div class="p-2 w-100 bd-highlight">
    <button (click)="addSystem()" class="btn btn-primary">
        追加
    </button>
    <button (click)="goBack()" class="btn btn-primary">
        戻る
    </button>
    <div class="input-group mb-12">
        <span class="input-group-text">区分</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.kubun">
    </div>
    <div class=" input-group mb-12">
        <span class="input-group-text">情報システム名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.systemName">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">概要</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.gaiyo">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">主管課室名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.shukanKashitsu">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">情報システム責任者所属及び役職</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.sekinin_Shozoku">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">情報システム責任者氏名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.sekinin_Name">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">連絡担当者所属及び役職</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.renraku_Shozoku">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">連絡担当者氏名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.renraku_Name">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">連絡担当者内線番号</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.renraku_Naisen">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">当初運用開始年度</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyoKaishi">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">次期更改予定時期</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.jikiKoukai">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">利用者属性統計センター内</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.user_Center">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">利用者属性統計局</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.user_Kyoku">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">利用者属性他の政府機関</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.user_Seifu">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">利用者属性地方公共団体</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.user_Localgovernment">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">利用者属性一般利用者（国民等）</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.user_Ippan">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">国、地方、他法人のシステムとの連携</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.system_Coope">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">規模等想定利用者数(人)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.kibo_Cnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">規模等Webサーバ年間PV数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.kibo_PV">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">取り扱う情報の格付機密性３情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.infoType_Kimitsu3">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">取り扱う情報の格付機密性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.infoType_Kimitsu2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">取り扱う情報の格付完全性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.infoType_Kanzen2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">取り扱う情報の格付可用性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.infoType_Kayo2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">取り扱う情報の取扱制限</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.toriatsukaiseigen">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">個人情報個人情報の取扱</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.kojin_Toriatsukai">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">個人情報特定個人情報の取扱</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.kojin_Tokutei">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">システム種別</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.systemType">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">開発方式開発方式</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.dev_Way">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">開発方式その他の場合の内容</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.dev_Other">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">開発アプリケーションLOC(Kstep)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.app_LOC">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">開発アプリケーション画面数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.app_GamenCnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">開発アプリケーション帳票数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.app_ChohyoCnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">物理サーバ等物理サーバ等設置拠点数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.server_BaseCnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">物理サーバ等うちバックアップ拠点数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.server_BackupCnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">物理サーバ等物理サーバ台数</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.server_Cnt">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">通信する統計センター外通信回線の種別インターネット</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.lineType_IE">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">通信する統計センター外通信回線の種別政府共通NW</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.lineType_SeifuNW">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">通信する統計センター外通信回線の種別SINET</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.lineType_SINET">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">通信する統計センター外通信回線の種別LGWAN</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.lineType_LGWIN">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">通信する統計センター外通信回線の種別その他</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.lineType_Other">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">パッケージ名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.packageName">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">パッケージ開発元</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.packageDev">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報利用有無</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_UserUmu">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報クラウドサービス名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_SeviceName">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報請負事業者</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Jigyosha">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報サービス企業</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_ServiceKigyo">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報クラウドサービスの概要</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Gaiyo">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報契約期間契約開始</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Start">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報契約期間契約終了</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_End">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報ドメイン名</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_DomainName">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報取り扱う情報の格付機密性３情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Kimitsu3">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報取り扱う情報の格付機密性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Kimitsu2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報取り扱う情報の格付完全性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Kanzen2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報取り扱う情報の格付可用性２情報</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Kayo2">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウドサービス利用情報取り扱う情報の取扱制限</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Toriatsukai">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">クラウド移行予定</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.cloudService_Schedule">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">目標稼働率(%)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.mokuhyoRate">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の導入・更改契約情報請負事業者</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.donyu_Jigyosha">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の導入・更改契約情報導入(更改)時期</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.donyu_Jiki">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の導入・更改契約情報契約額(千円)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.donyu_Price">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の保守・賃貸借等契約情報請負事業者</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.hoshu_Jigyosha">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の保守・賃貸借等契約情報保守・賃貸借等期間契約開始</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.hoshu_Start">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の保守・賃貸借等契約情報保守・賃貸借等期間契約終了</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.hoshu_End">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の保守・賃貸借等契約情報契約額(千円)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.hoshu_Price">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の保守・賃貸借等契約情報導入・更改と同一契約か</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.hoshu_SameDonyu">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報請負事業者</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_Jigyosha">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報運用期間契約開始</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_Start">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報運用期間契約終了</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_End">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報契約額(千円)</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_Price">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報導入・更改と同一契約か</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_SameDonyu">
    </div>
    <div class="input-group mb-12">
        <span class="input-group-text">直近の運用契約情報保守・賃貸借と同一契約か</span>
        <input type="text" class="form-control" [(ngModel)]="SystemList.unyo_SameHoshu">
    </div>




</div>