
<!-- <button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="addClick()">
   追加
</button> -->

<!-- Modal（ポップアップダイアログ） -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- ポップアップダイアログのタイトル -->
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <!-- ポップアップダイアログを閉じるためのボタン -->
        <button type="button" #closebutton class="close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button> 
       </div>
      <div class="modal-body"> 
        <!--システム追加・編集フォームを表示するためのコンポーネント -->
        <app-add-edit-system [depart]="depart" *ngIf="ActivateAddEditSystemComp" (newItemEvent)="callback($event)">
        </app-add-edit-system>
     </div>
    </div>
  </div>
</div>


<table class="table table-striped" >
  <thead>
    <tr>
      <th rowspan="3">情報システムID</th>
      <th rowspan="3">区分</th>
      <th rowspan="3">情報システム名</th>
      <th rowspan="3">概要</th>
      <th rowspan="3">
        <div class="d-flex flex-row">
          <!-- ngModelでテキストボックスに対する入力値をTypescriptに反映させそれを用いてFilterを行う。 -->
          <input class="form-control m-2" [(ngModel)]="shukanKashituFilter" (keyup)="FilterFn()" placeholder="Filter">
        </div>
        主管課室名
      </th>
      <!-- <th rowspan="3">主管課室名</th> -->
      <th colspan="2">情報システム責任者</th>
      <th colspan="3">連絡担当者</th>
      <th rowspan="3">システム種別</th>
      <th colspan="5">開発方式</th>
      <th colspan="5">利用者属性</th>
      <th colspan="5">通信する統計センター外通信回線の種別</th>
      <th colspan="4">取り扱う情報の格付</th>
      <th rowspan="3">取り扱う情報の取扱制限</th>
      <th rowspan="3">パッケージ名</th>
      <th rowspan="3">パッケージ開発元</th>
      <th colspan="2">直近の導入・更改契約情報</th>
      <th colspan="5">直近の保守・賃貸借等契約情報</th>
      <th colspan="6">直近の運用契約情報</th>
      <th colspan="14">情報処理サービス（クラウドサービス等）利用契約情報</th>
      <th rowspan="3">次期更改予定</th>
    </tr>

    <tr>
      <th rowspan="2">所属及び役職</th>
      <th rowspan="2">氏名</th>

      <th rowspan="2">所属及び役職</th>
      <th rowspan="2">氏名</th>
      <th rowspan="2">内線番号</th>

      <th rowspan="2">スクラッチ開発</th>
      <th rowspan="2">ソフトウェアパッケージカスタマイズ開発</th>
      <th rowspan="2">スクラッチ・カスタマイズ開発の混合</th>
      <th rowspan="2">ソフトウェアパッケージ活用（カスタマイズ無し）</th>
      <th rowspan="2">その他（内容を入力）</th>
 
      <th rowspan="2">統計センター内</th>
      <th rowspan="2">統計局</th>
      <th rowspan="2">他の政府機関</th>
      <th rowspan="2">地方公共団体</th>
      <th rowspan="2">一般利用者（国民等）</th>
      
      <th rowspan="2">インターネット</th>
      <th rowspan="2">政府共通NW</th>
      <th rowspan="2">SINET</th>
      <th rowspan="2">LGWIN</th>
      <th rowspan="2">その他</th>

      <th rowspan="2">機密性3情報</th>
      <th rowspan="2">機密性2情報</th>
      <th rowspan="2">完全性2情報</th>
      <th rowspan="2">可用性2情報</th>

      <th rowspan="2">請負事業者</th>
      <th rowspan="2">導入（更改）時期</th>

      <th rowspan="2">請負事業者</th>
      <th colspan="2">保守・賃貸借等期間</th>
      <th rowspan="2">契約期間</th>
      <th rowspan="2">導入・更改と同一契約か</th>

      <th rowspan="2">請負事業者</th>
      <th colspan="2">運用期間</th>
      <th rowspan="2">契約期間</th>
      <th rowspan="2">導入・更改と同一契約か</th>
      <th rowspan="2">保守・賃貸借と同一契約か</th>

      <th rowspan="2">情報処理サービスの利用有無</th>
      <th rowspan="2">情報処理サービス名</th>
      <th rowspan="2">請負事業者</th>
      <th rowspan="2">サービス企業</th>
      <th rowspan="2">情報処理サービスの概要</th>
      <th colspan="2">契約期間</th>
      <th rowspan="2">契約期間</th>
      <th rowspan="2">ドメイン名</th>
      <th colspan="4">取り扱う情報の格付</th>
      <th rowspan="2">取り扱う情報の取扱制限</th>
    </tr>
    
    <tr>
       <th>契約開始</th>
       <th>契約終了</th>
     
       <th>契約開始</th>
       <th>契約終了</th>

       <th>契約開始</th>
       <th>契約終了</th>

       <th >機密性3情報</th>
       <th >機密性2情報</th>
       <th >完全性2情報</th>
       <th >可用性2情報</th>
    </tr>

 </thead>
 
  <tbody>
             <!--列名の先頭を小文字にしないと取得できない-->
    <tr *ngFor="let dataItem of SystemList">
      <td >{{dataItem.id}}</td>
      <td>{{dataItem.kubun}}</td>
      <td>{{dataItem.systemName}}</td>
      <td>{{dataItem.gaiyo}}</td>
      <td>{{dataItem.shukanKashitsu}}</td>
      
      <td>{{dataItem.sekinin_Shozoku}}</td>
      <td>{{dataItem.sekinin_Name}}</td>

      <td>{{dataItem.renraku_Shozoku}}</td>
      <td>{{dataItem.renraku_Name}}</td>
      <td>{{dataItem.renraku_Naisen}}</td>

      <td>{{dataItem.sysType}}</td>

      <td>{{dataItem.dev_Scratch}}</td>
      <td>{{dataItem.dev_Package}}</td>
      <td>{{dataItem.dev_ScratchPackage}}</td>
      <td>{{dataItem.dev_Software}}</td>
      <td>{{dataItem.dev_Other}}</td>

      <td>{{dataItem.user_Center}}</td>
      <td>{{dataItem.user_Kyoku}}</td>
      <td>{{dataItem.user_Seifu}}</td>
      <td>{{dataItem.user_Localgovernment}}</td>
      <td>{{dataItem.user_Ippan}}</td>

      <td>{{dataItem.lineType_IE}}</td>
      <td>{{dataItem.lineType_SeifuNW}}</td>
      <td>{{dataItem.lineType_SINET}}</td>
      <td>{{dataItem.lineType_LGWIN}}</td>
      <td>{{dataItem.lineType_Other}}</td>

      <td>{{dataItem.infoType_Kimitsu3}}</td>
      <td>{{dataItem.infoType_Kimitsu2}}</td>
      <td>{{dataItem.infoType_Kanzen2}}</td>
      <td>{{dataItem.infoType_Kayo2}}</td>
      <td>{{dataItem.handlingInfoLimit}}</td>

      <td>{{dataItem.packageName}}</td>
      <td>{{dataItem.packageDevName}}</td>

      <td>{{dataItem.recentIntro_Jigyosha}}</td>
      <td>{{dataItem.recentIntro_Jiki}}</td>
      
      <td>{{dataItem.recentMainte_Jigyosha}}</td>
      <td>{{dataItem.recentMainte_Start}}</td>
      <td>{{dataItem.recentMainte_End}}</td>
      <td>{{dataItem.recentMainte_Kikan}}</td>
      <td>{{dataItem.recentMainte_SameIntro}}</td>

      <td>{{dataItem.recentOpe_Jigyosha}}</td>
      <td>{{dataItem.recentOpe_Start}}</td>
      <td>{{dataItem.recentOpe_End}}</td>
      <td>{{dataItem.recentOpe_Kikan}}</td>
      <td>{{dataItem.recentOpe_SameIntro}}</td>
      <td>{{dataItem.recentOpe_SameMainte}}</td>
      
      <td>{{dataItem.cloudService_UserUmu}}</td>
      <td>{{dataItem.cloudService_SeviceName}}</td>
      <td>{{dataItem.cloudService_Jigyosha}}</td>
      <td>{{dataItem.cloudService_ServiceKigyo}}</td>
      <td>{{dataItem.cloudService_Gaiyo}}</td>
      <td>{{dataItem.cloudService_Start}}</td>
      <td>{{dataItem.cloudService_End}}</td>
      <td>{{dataItem.cloudService_Kikan}}</td>
      <td>{{dataItem.cloudService_DomainName}}</td>
      <td>{{dataItem.cloudService_Kimitsu3}}</td>
      <td>{{dataItem.cloudService_Kimitsu2}}</td>
      <td>{{dataItem.cloudService_Kanzen2}}</td>
      <td>{{dataItem.cloudService_Kayo2}}</td>
      <td>{{dataItem.cloudService_Limit}}</td>

      <td>{{dataItem.scheduleRenew}}</td>
  
      <!-- <td> -->
         <!--編集ボタン-->
        <!-- <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </button> -->
        <!--削除ボタン-->
        <!-- <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
          </svg>
        </button> -->
      <!-- </td> -->
    </tr>

</table>