table{
  /*テーブルの外の枠線 */
  border:3px black solid;
  width:1200%;
  /* border-collapse: separate; */
  border-collapse: collapse;
  border-spacing:1px;
  table-layout:fixed;
  white-space: pre-wrap;
}

td{
   /*セル内折り返しあり */
  word-wrap: break-word;
}
/* .pre-wrap {
  white-space: pre-wrap;
} */
thead{
  text-align:center;
  /* vertical-align: middle; */
}
th,td{
   /*テーブル内の枠線 */
  border:1px black solid;
}

