table {
  border: 3px black solid;
  width: 1200%;
  border-collapse: separate;
  /* セル間の枠線を表示するために変更 */
  border-spacing: 0px;
  /* セル間のスペースを調整 */
  table-layout: fixed;
  white-space: pre-wrap;
}

thead {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 0;
}

th {
  border-bottom: 1px black solid;
  border: 1px black solid;
}

td {
  border: 1px black solid;
}

.hide {
  display: none;
}